# this config file contain config symbols for Makefile use
#

ARCH := arm
TOOLCHAIN_DIR := /work/toolchain/arm-unknown-linux-gnueabi
TOOLCHAIN_PREFIX := arm-unknown-linux-gnueabi
TOOLCHAIN_BIN_PREFIX := $(TOOLCHAIN_DIR)/bin/$(TOOLCHAIN_PREFIX)-
TOOLCHIAN_SYSROOT_DIR := $(TOOLCHAIN_DIR)/$(TOOLCHAIN_PREFIX)/sysroot

CONFIG_DTB_NAME := s3c2440-jz2440.dtb

# for ubifs
CONFIG_NAND_BLOCKSIZE := 131072
CONFIG_NAND_PAGESIZE := 2048